/* Navigation */

body {
  margin: 0;
  padding: 0;
}

.cust-navbar,
.navbar,
.navbar-brand,
.nav-link,
footer {
  background-color: #000f89;
  color: #b7b4ad !important;
}

.nav-link:hover {
  color: #ffffff !important;
}

.cust-btn {
  background-color: #b7b4ad;
  color: #000f89;
}
.cust-btn:hover {
  background-color: rgba(128, 16, 38, 1);
  color: #f9f1de;
}

/* Footer */

footer {
  padding: 30px;
}

.sidebar {
  height: 100%;
  width: 250px;
  background-color: #000f89;
}

.sidebar-list {
  height: auto;
  width: 100%;
  padding: 0;
}

.sidebar-list .sidebar-row:hover {
  cursor: pointer;
  background-color: #293846;
}

.sidebar-list .sidebar-row {
  height: 60px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.sidebar-row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.sidebar-row #title {
  flex: 70%;
}
